.create-notebook-card {
  --width: 240px;
  background-color: var(--background-1);
  border: 1px solid var(--background-4);
  border-radius: 15px;
  transition: box-shadow .25s;
  height: 240px;
  width: var(--width);
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-3);
  &:hover {
    color: var(--primary-1);
    box-shadow: var(--secondary-0) 0px 1px 2px 0px, var(--secondary-1) 0px 1px 3px 1px;
  }
}