:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* Primary grayscale (from white to light gray) */
  --primary-0: #FFFFFF; /* White */
  --primary-1: #DDDDDD;
  --primary-2: #BBBBBB;
  --primary-3: #999999;
  --primary-4: #777777;

  /* Secondary grayscale (from light gray to medium gray) */
  --secondary-0: #5b0ee9;
  --secondary-1: #7b25ea;
  --secondary-2: #6f057b;
  --secondary-3: #9866ca;
  --secondary-4: #c076d3;

  /* Background grayscale (from medium to dark gray) */
  --background-0: #000000; /* Black */
  --background-1: #333333;
  --background-2: #555555;
  --background-3: #888888;
  --background-4: #BBBBBB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
